
.whoim{
    float: left;
    margin-left: -25px;
    
}
.whoim  span{

    color:rgb(27, 187, 174);

}
.programming{
    width: 300px;
}
.containe{
display: flex;
justify-content: space-around;
padding:60px;
position: relative;
margin-top: 50px;
z-index: 0;
}
.contactme{
    position: absolute;
    bottom:90px;
    left:150px;
}
.contactme  img{
    max-width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.buttton{
float: right;
width: 100%;
color:white;
background-color: rgb(223, 58, 29);
height: 40px;
border: none;
outline: none;
border-radius: 2px;
margin-bottom: 15px;
text-align: center;
text-decoration: none;
line-height: 40px;
}
.buttton:hover{
 transition: all .2s linear;
background-color: rgb(105, 38, 230);
cursor: pointer;
}

@media  (max-width: 768px) {
    .containe{
        flex-direction: column;
        justify-content: space-around;
    }
    .whoim{
      margin: auto;
      text-align: center;
    }
    .programming{
        width: 200px;  
        margin: auto; 
        margin-top: 100px;

    }
    .contactme {
   margin: auto;
   margin-top: 30px;
   position: static;
    }

}



