.contactme  img:hover{
    transform: scale(1.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.skills{
    display: flex;
    justify-content: space-around;
}
.skills > img {
    width: 400px;

}
.skillsimg{
    display: flex;
    margin-bottom: 20px;

}
.skillsimg img{
    max-width: 50px;
    height: 50px;
    margin-left: 15px;
}
.ul{
    list-style-image:url("../home/img/Star.png");
    margin-top: 20px;
}
.ul li{
    margin-bottom: 10px;
}
body{
    overflow-x: hidden;
}
.progress{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media  (max-width: 768px) {
    .skills{
        flex-direction: column;
        align-items: center;
    }
        .left,.right{
            margin-top: 35px;
        }

        .skill-bars{
            width: 400px !important;
        }
}
