.container{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 100;
  top: 0;
  width: 100%;
}
.container > h2{
margin-top:10px;
display: flex;
flex: 1;
margin-left: 40px;
}
.container > h2>span{
    color: rgb(150, 130, 238) !important;
}
.container > .img{
 max-width: 30px;
 height: 30px;
 margin-top:15px;
 margin-right:55px;
 margin-left:55px;
}
.container > .img>img{
width: 100%;
height: 100%;
cursor: pointer;

}

.nav-bar{
    display: flex;
    list-style: none;
    justify-content: c;
    flex:1;
    margin-right: 50px;
    transform: translateY(0px);      
}
.nav-bar li a{
     text-decoration: none;
     padding: 5px 20px;
     font-weight: bold;
}
.nav-bar li a:hover{
   color: rgb(150, 130, 238) !important;
   transition: color .2s linear;

}

.burger div {
    width:30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
    display: none;

}

@media  (max-width: 768px) {
    .nav-bar{
        flex-direction: column;
        position: absolute;
        transform: translateY(47px) ;
        transition: height .3s linear; 
        height: 0px;
        width: 100%;
        justify-content: space-evenly;
        box-shadow: rgba(212, 198, 198, 0.24) 0px 3px 8px;
        left: 0%;
        align-items: center;
        overflow: hidden;
        z-index: 100;
    
      }
      .container .img{
          margin: 15px;
      }
    .burger{
        margin: auto;
    }
    .burger div{
      display: block;
      position: relative;
      transition: transform .3s linear;
    }
    .trans{
        height: 210px;
    }
}

.rows1 {
    transform:rotate(40deg) translateY(10px);
}
.rows2 {
    opacity:0;
}
.rows3 {
   transform:rotate(-40deg) translateY(-10px);
}

@keyframes delay{
    0%{
        opacity:0;
        transform: translateX(60px);
    }
  100%{
        transform: translateX(0px);
        opacity:1
    }
   }
   @keyframes rotation{
    from{
        transform: rotateZ(130deg);
    }
    to{
        transform: rotateZ(90deg);
    }
}

